$main-bgcolor:#ffffff;
$navbar-bgcolor: #ffffff;
$navtext-color: #090909;
$nav-hover: #85C4C9;
$nav-active: #368F96;
$header-bgcolor: #ffffff;
$contact-title: #368F96;
$pale-green: #85C4C9;
$letter-spacing: 0.3;


$hexagon-color: #165559;



$main-font-family: 'Raleway', sans-serif;
$secondary-font-family: 'Biryani:600', sans-serif;
$secondary-font-style: italic;
$main-color: #368F96;
