@mixin beehive {
    li:nth-child(3n+2) {
        margin: 0 1%;
      
      }
      li:nth-child(6n+4), li:nth-child(6n+5), li:nth-child(6n+6) {
        margin-top: -6.9285714285%;
        margin-bottom: -6.9285714285%;
        transform: translateX(50%) rotate(-60deg) skewY(30deg);
      }
      li:nth-child(6n+4) { 
        margin-left: 0.5%;
      }
}
